@font-face {
    font-family: 'Manrope-regular';
    src: url('../css/Manrope/Manrope-Regular.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Manrope-bold';
    src: url('../css/Manrope/Manrope-Bold.ttf') format('truetype');
}  

@font-face {
    font-family: 'Manrope-Medium';
    src: url('../css/Manrope/Manrope-Medium.ttf') format('truetype');
}  

@font-face {
    font-family: 'Poppins';
    src: url('../css/Poppins/Poppins-Regular.ttf') format('truetype'); 
}


/*****************************************************/
                    /** Login Page CSS **/
/********************* *******************************/
.login-page, .register-page {
    background-color: #F8F8F8 !important;
    width: 100% !important;
}

.login-card-body, .register-card-body {
    background: #FFFFFF;
    box-shadow: 0px 5px 14px 1.74px rgba(117, 117, 117, 0.15);
    border-radius: 20px;
}

.login-page, .card {
    box-shadow: none !important;
    background-color: #F8F8F8 !important;
}
.login-page, .label {
    font-family: 'Manrope-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    float: left; 
    width: 100%;
    margin-bottom: 5px;
}

.login-card-body .input-group .form-control, .register-card-body .input-group .form-control {
    
    /* Text Field */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 20px;
    
    width: 402px;
    height: 56px;

    background: #FAFAFA;
    /* Disabled */
    border: 1px solid #D8D8D8;
    border-radius: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #005093 !important;
    border-color: #005093 !important;
    box-shadow: none;
    padding: 10px 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.login-page, .remember {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px;
    line-height: 21px;
    color: #616161;
}

[class*=icheck-]>input:first-child+input[type=hidden]+label::before, [class*=icheck-]>input:first-child+label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px !important;
    height: 19px !important;
    border: 1px solid #D3CFC8;
    border-radius: 5px;
    margin-left: -29px;
}

.login-logo, .img{
   margin-top:-250px;
}

/*****************************************************/
                /** Dashboard Page CSS **/
/*****************************************************/

.content-wrapper {
    background-color: #F8F8F8 !important;
    margin-left: 0px !important;

}
.container-fluid .bg-info {
    background: rgba(0, 80, 147, 0.1) !important;
}

.header-logo {
    width: 116px;
    height: 43px;
    left: 40px;
    top: 11px;
}

.header-active-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 15px !important;
    gap: 10px;
    width: 108px;
    height: 42px;
    background: rgba(0, 80, 147, 0.1);
    border-radius: 5px;
    color: #005093 !important;
}

.header-side-left-text {
    width: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;    
   /* identical to box height */
    text-align: center;
    padding: 7px 16px !important;

    /* Blue */
    background: rgba(0, 80, 147, 0.1);

    color: #005093 !important;
}

.dashboard-sub-heading {
    width: 414px;
    height: 21px;
    left: 228px;
    top: 89px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    color: #BDBDBD;
}

.dashboard-tabs {
    height: 113px;
    background: rgba(0, 80, 147, 0.1);
    border-radius: 10px;
}

.dashboard-tabs .lebel-number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 25px;
    text-align: left;
    color: #005093;
}

.dashboard-tabs .lebel-text {
    width: 119px;
    height: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    text-align: left;
    /* Black */
    color: #212121;
}
.inner {
    padding: 25px !important;
}

.tab-padding-left {
    padding: 15px 9.5rem;
}


/*****************************************************/
                /** Quotations Page CSS **/
/*****************************************************/

.quotations-card {
    /* white */
    background: #FFFFFF !important;
    /* grey */
    box-shadow: 0px 3px 12px 1.74px rgba(167, 167, 167, 0.15);
    border-radius: 10px;
}

.btn-warning {
    color: #fff !important;
    background-color: #EC934C !important;
    border-color: #EC934C !important;
    box-shadow: none;
    padding: 10px 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.new-quotations-btn{
    /* Button Following */
    box-sizing: border-box;
    /* Auto layout */
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    height: 38px;
   /* orange */
    border: 1px solid #EC934C;
    border-radius: 6px;
    font-family: 'Poppins' !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 12px !important;
    color: #FFFFFF;
}

.quotation-plus-icon {
    border: 1.5px solid #FFFFFF;
    padding: 1px;
    font-size: 10px;
    vertical-align: middle;
    line-height: normal !important;
}

.quotations-table {
    /* white */
    background: #FFFFFF;
    /* grey */
    box-shadow: 0px 3px 12px 1.74px rgba(167, 167, 167, 0.15);
    border-radius: 10px;
    font-family: 'Poppins' !important;   
    font-size: 14px !important;
    line-height: 30px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3rem;
    height: 2rem;
    line-height: 3rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.has-search .searchbox {
    box-sizing: border-box;
    height: 45px !important;
    /* White */
    background: #FFFFFF;
    /* Grey/300 */
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    font-family: 'Manrope-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    /* Grey/400 */
    color: #BDBDBD;
}

.quotations-table .heading {
    left: 0px;
    top: 64px;
    background: #87818126 !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px !important;
    /* identical to box height, or 175% */

    text-align: center;

    /* Grey/800 */

    color: #424242 !important;
}

.quotations-table, .table thead th {
       border-bottom: none !important;
       line-height: 30px;
}
.quotations-table, .table td, .table th {
    border-top: none !important;
    border-bottom: none !important;
}
table.dataTable tr.even { background-color: #F9F9F9; }
table.dataTable tr.odd { background-color: #FFFFFF; }



/* ============ mobile view ============ */
@media all and (max-width: 991px) {

    .login-logo, .img{
        margin-top:-150px !important;
     }

    .tab-padding-left {
        padding: 15px 1.5rem;
    }
	
	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
		border-radius:0; 
		display:block;
		position: fixed;  top: 0; left:0;
		height: 100%; width:80%;
		z-index: 1200; 
		overflow-y: scroll;
		overflow-x: hidden;
		transition: visibility .3s ease-in-out, transform .3s ease-in-out;
	}

	.mobile-offcanvas.show{
		visibility: visible; 	transform: translateX(0);
	}
	.mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
		display: block;
	}

}	
/* ============ mobile view .end// ============ */
