{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block pagenav %}
<div class="content-header tab-padding-left">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <p class="m-0 dashboard-sub-heading">Dashboard</p>
      </div>
    </div>
  </div>
</div>
{% endblock pagenav %}

{% block main-content %}
<section class="content tab-padding-left">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box dashboard-tabs">
          <div class="inner">
            <h3 class="lebel-number">{{quots}}</h3>
            <p class="lebel-text">Quotes</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box dashboard-tabs">
                <div class="inner">
                  <h3 class="lebel-number">{{products}}</h3>
                  <p class="lebel-text">All Products</p>
                </div>
              </div>
            </div>
      <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box dashboard-tabs">
                <div class="inner">
                  <h3 class="lebel-number">{{users}}</h3>
                  <p class="lebel-text">Users</p>
                </div>
              </div>
            </div>
    </div>
  </div>
</section>
{% endblock main-content %}