{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block main-content %}

<div class="m-3">
    <h2> Quotation Detail</h2>
    <h4> Quotation Name : {{quotitem.quotation_id.name}}</h4>
    {% for sec in sections %}
    <h4> Section : {{sec.name}}</h4>

    {% endfor %}

    <h5> Subsection : {{quotitem.subsection_id.name}}</h5>
    <h5> Product : {{quotitem.subsection_id.product_id.name}}</h5>
    <h5> Client Name : {{client.name}}</h5>
</div>

<div>
 <table class="table">
  <thead>

      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
    </tr>

  </thead>
  <tbody>


    <tr>
        <td>{{quotitem.subsection_id.product_id}}</td>
        <td>{{quotitem.subsection_id.product_id.name}}</td>
        <td>{{quotitem.subsection_id.product_id.description}}</td>
        <td>{{quotitem.subsection_id.product_id.quantity}}</td>
        <td>{{quotitem.subsection_id.product_id.selling_price}}</td>
    </tr>
    <tr>

  </tbody>
</table>
</div>

{% endblock main-content %}