{% extends 'base.html' %}
{% load static %}
{% block title %}Quotations{% endblock title %}

{% block main-content %}
<section class="content tab-padding-left">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body quotations-card">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control searchbox" placeholder="Search for a Quote" />
                        </div>
                    </div>
                    <div class="col-md-9 text-right">
                        <button class="btn btn-warning new-quotations-btn"><i class="fa fa-plus quotation-plus-icon"></i> New Quote</button>
                    </div>
                </div>
                <table id="example1" class="table text-center quotations-table">
                    <thead>
                    <tr  class="heading">
                        <th>Quote No.</th>
                        <th>Name</th>
                        <th>Quote Status</th>
                        <th>Market Segment</th>
                        <th>Created on</th>
                        <th>Created By</th>
                        <th>Quote Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for q in quots %}
                    <tr>
                        <td class="fw-bold">{{q.quot_no}}</td>
                        <td>{{q.name}}</td>
                        <td>No Status</td>
                        <td>{{q.market_seg}}</td>
                        <td>Nov 4,2022 | 8:42 a.m.</td>
                        <td>felicia.reid@gmail.com</td>
                        <td class="fw-bold">R 320</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock main-content %}